# Dependency directories
node_modules/
jspm_packages/

# Build directories
dist/
build/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test
.env.local
.env.development.local
.env.test.local
.env.production.local

# Coverage directory
coverage/

# IDE / editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store
